@model IEnumerable<ReservationSystem.Models.Reservation>

@{
    ViewData["Title"] = "Reservations";
}

<h1>Reservations</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear nueva reservación</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Celular</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Servicio</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CustomerName)</td>
                <td>@Html.DisplayFor(modelItem => item.CustomerEmail)</td>
                <td>@Html.DisplayFor(modelItem => item.CustomerPhone)</td>
                <td>@item.ReservationDate.ToShortDateString()</td>
                <td>@item.ReservationTime.ToShortTimeString()</td>
                <td>@Html.DisplayFor(modelItem => item.Service)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
